h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-shadow: 0cm 0.08cm 0.1cm #10194a;
}
html{
    background-color: #223161;
}
body{
  background-image: url('bg_placeholder.jpg');
  background-color: #223161;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  margin-top: 0;
  margin-bottom: 0;
}
.Pcenter {
  color: white;
  text-align: center;
  font-family: Comic Relief, sans-serif;
  text-shadow: 0.05cm 0.05cm 0.1cm #10194a;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.3cm;
}
#p1 {
  background-image: url('Healer.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1pt;
  margin: 10pt;
}
.pageName {
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #223161;
  text-align: center;
  z-index: 1000;
}
#me_yt{
  height: 2cm;
  transition-duration: 200ms;
}
#me_yt:hover {
  height: 2.1cm;
  transition-duration: 150ms;
}

header {
    background-color: #434280;
    mix-blend-mode: screen;
}
button {
    background-color: white;
    border-radius: 0.3cm;
    padding: 0.2cm;
    font-size: 0.4cm;
    transition-duration: 150ms;
}
button:hover {
    border-radius: 0;
    transition-duration: 200ms;
    background-color: rgb(190, 190, 255);
}
button:active {
    background-color: #1816c0;
}
.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5cm;
    flex-wrap: wrap;
}
img {
    box-shadow: 5px 5px 10px #10194aa8;
    border: 0.15cm solid white;
    border-radius: 0.15cm;
}
.img-light {
    box-shadow: none;
    border: none;
}
.img-clickable {
    cursor: pointer;
    filter: brightness(100%);
    transition-duration: 150ms;
}
.img-clickable:hover {
    filter: brightness(130%);
    rotate: -1deg;
    transition-duration: 200ms;
}
#godotlogo {
    height: 3cm;
    border: none;
    cursor: pointer;
    filter: brightness(110%);
    box-shadow: none;
}
#godotlogo:hover {
    filter: brightness(140%);
    rotate: -1deg;
    transition-duration: 200ms;
}

/* Link styles */
a:link {
  color: rgb(118, 134, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(191, 131, 255);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(117, 67, 255);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(255, 50, 200);
  background-color: transparent;
  text-decoration: underline;
}