h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
body{
  background-image: url('bg_placeholder.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}
.Pcenter {
  color: white;
  text-align: center;
  font-family: Comic Relief, sans-serif;
  text-shadow: 5pt;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.3cm;
}
#p1 {
  background-image: url('Healer.webp');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1pt;
  margin: 10pt;
}
.pageName {
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #223161;
  text-align: center;
  z-index: 1000;
}
#me_yt{
  width: 100px;
  transition-duration: 200ms;
}
#me_yt:hover {
  width: 105px;
  transition-duration: 150ms;
}

header {
    background-color: #434280;
    mix-blend-mode: screen;
    padding-bottom: 0.3cm;
    padding-top: 0.05cm;
}
button {
    background-color: white;
    border-radius: 0.3cm;
    padding: 0.2cm;
    font-size: 0.4cm;
    transition-duration: 150ms;
}
button:hover {
    border-radius: 0;
    transition-duration: 200ms;
    background-color: rgb(190, 190, 255);
}
button:active {
    background-color: #1816c0;
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5cm;
    flex-wrap: wrap;
}